# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# VSCode
.vscode/
.history/

# Sistema
.DS_Store
Thumbs.db

# Builds / dist
dist/
build/
coverage/
